

.modal__card__badge--create {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: rgb(88, 88, 88);
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.modal__card__btn--create {
  width: 180px;
  height: 50px;
  border-radius: 20px;
  color: white;
  border: none;
  margin-top: 25%;
  /* global 94%+ browsers support */
  background: linear-gradient(
    90deg,
    rgba(76, 175, 80, 1) 0%,
    rgba(49, 220, 255, 1) 100%
  );
}
