@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

.card {
  background: #24315a;
  border-radius: 10px;
  padding: 10px 25px 10px;
  font-family: "Poppins", sans-serif;
}

.angry-grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  box-shadow: 3px 2px 15px rgb(12, 12, 12);
  gap: 0px;
  width: 500px;
  height: 100%;
}
.angry-grid--client {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  box-shadow: 3px 2px 15px rgb(12, 12, 12);
  gap: 0px;
  width: 680px;
  height: 100%;
}

#item-0 {
  grid-row-start: 1;
  grid-column-start: 2;

  grid-row-end: 2;
  grid-column-end: 4;
}
#item-1 {
  grid-row-start: 2;
  grid-column-start: 2;

  grid-row-end: 3;
  grid-column-end: 4;
}
#item-2 {
  grid-row-start: 3;
  grid-column-start: 1;

  grid-row-end: 4;
  grid-column-end: 5;
}
#item-3 {
  grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 2;
  grid-column-end: 2;
}
#item-4 {
  grid-row-start: 2;
  grid-column-start: 1;

  grid-row-end: 3;
  grid-column-end: 2;
}
#item-5 {
  grid-row-start: 1;
  grid-column-start: 4;

  grid-row-end: 2;
  grid-column-end: 5;
}
#item-6 {
  grid-row-start: 2;
  grid-column-start: 4;

  grid-row-end: 3;
  grid-column-end: 5;
}

.user-card__header {
  color: white;
}

.user-card__body{
  color: #767c76;
}

.user-card__buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.user-card__buttons .user-card__buttons__btn {
  background-color: #161d33;
  color: #767c76;
}

.user-card__body .user-card__header {
  color: white;
}