@import url("https://fonts.googleapis.com/css?family=Lato:100");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*-------------------------------------------------- General Styling ---------------------------------------------------------------------------------*/
/* style or your elements here such as p tags etc.. */

a {
  text-decoration: none;
}

body {
  background-color: #161d33;
  margin: 2% 5%;
  max-height: 50vh;
  overflow: hidden;
}

body.light {
  background-color: azure;
}

button {
  text-decoration: none;
}

/*---------------------------------------------------Structural Styling-----------------------------------------------------------------------------------------*/
/*include all the styles which affect the order in which components are laid*/

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(1fr, 2);
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* --------------------------------------------------------------- Media Queries -----------------------------------------------*/
@media (max-width: 990px) {
  header div.nav navbar ul {
    flex-direction: column;
    position: fixed;
    background: #5b78c7;
    height: 100vh;
    width: 100%;
  }

  header div.nav div.site-title {
    margin-left: 5%;
  }
  header div.nav img {
    display: none;
  }

  header div.nav nav div.hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
  }
}

@media (min-width: 990px) {
  header div.nav div.site-title {
    margin-right: 55%;
  }
}

/* --------------------------------------------------------------- Key Frames -----------------------------------------------*/

@keyframes fade-out-left {
  from {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-in-left {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes roll-in-right {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
  }
  to {
    opacity: 1;
    transform: translate3d(-40%, 0, 0);
  }
}
