

.btn__outer {
  position: absolute;
  transform: translate(0%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  background-color: rgb(76, 76, 187);
  box-shadow: 2px 3px 18px rgb(76, 76, 187);
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.btn__outer:hover {
  background-color: rgb(86, 86, 197);
}